@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@1..900&display=swap');

#about{
    max-width: 1000px;
    width: 100vw;
    flex-direction: column;
}
#about img{
    display: flex;
    width: 300px;
    height: 300px;
    border-radius: 30px;
}

#about p{
    color: white;
}

#introText{
    margin-bottom: 1em;

    padding: 2em;
}
#introText h1{
    font-size: 5em;
}
#introText h2{
    max-width: 550px;
    color:white;

}
#introText p{
    max-width: 550px;
    color:white;
}
.mobile{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    justify-content: center ;
}
.languages{
    margin-top: 2em;
    display: flex;
    width: 100%;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
}

.languages > img{
    max-width: 100px;
    max-height: 100px;
    object-fit: contain;
    object-position: center;
    transition: linear .5s;

}

#font1{
    font-family: 'Hepta Slab', Georgia, serif ;
}
#font2{
    font-family: 'Roboto Mono', monospace;
    color: rgb(199, 191, 191);
    line-height: 30px;
    font-weight: 100;
    font-size: 1rem;
}
.languages img:hover{
    scale: 1.3;
}

@media screen and (max-width: 500px) {
    .mobile{
        flex-direction: column;
    }
    #center{
        text-align: center;
    }
}