
#about{
    max-width: 1000px;
    width: 100vw;
    flex-direction: column;
}
#about img{
    display: flex;
    width: 300px;
    height: 300px;
    border-radius: 30px;
}

#about p{
    color: white;
}

#introText{
    margin-bottom: 5em;
    justify-content: center;
    padding: 2em;
}
#introText h1{
    font-size: 5em;
}
#introText h2{
    max-width: 550px;
    color:white;

}
#introText p{
    max-width: 550px;
    color:white;
}
.mobile{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.languages{
    margin-top: 2em;
    display: flex;
    width: 100%;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
}

.languages > img{
    max-width: 100px;
    max-height: 100px;
    object-fit: contain;
    object-position: center;
    transition: linear .5s;

}

.languages img:hover{
    scale: 1.3;
}
@media screen and (max-width: 500px) {
    .mobile{
        flex-direction: column;
    }
    #center{
        text-align: center;
    }
}