#contact{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2em;
    margin-top: 10em;
}
#email{
    display: flex;
    flex-direction: column;
    width: 40em;
    align-items: center;
    gap: 2em;
    border: 2px solid lightgray;
    border-radius: 30px;
    padding: 2em
}




#contact button{
    padding: 1em;

}
#text{
    flex-direction: row;
    width: 100%;
    gap: 4em;
    display: flex;
}
.inputbox{
    position: relative;
    flex: 1;
}

.inputbox input{
    width: 100%;
    padding: 1em;
    border:  2px solid rgb(75, 75, 75);
    background-color: transparent;
    outline: none;
    border-radius: 5px;
    color: white;
}

.inputbox span{
    position: absolute;
    left: 0;
    padding: 1em;
    color:rgb(75, 75, 75);
    text-transform: uppercase;
    user-select: none;
    pointer-events: none;
    transition: 0.3s;

}

.inputbox input:valid ~ span,
.inputbox input:focus ~ span{
    color: #00dfc4;
    font-size: 0.65em;
    padding: 0 1em;
    transform: translateX(10px) translateY(-7px);
    background-color: #151821;
}

.inputbox input:valid,
.inputbox input:focus{
    border: 2px solid #00dfc4;
}
.inputbox textarea:valid ~ span,
.inputbox textarea:focus ~ span{
    color: #00dfc4;
    font-size: 0.65em;
    padding: 0 1em;
    transform: translateX(10px) translateY(-7px);
    background-color: #151821;
}

.inputbox textarea:focus,
.inputbox textarea:valid{
    border: 2px solid #00dfc4;
}
.inputbox textarea{
    width: 100%;
    height: 15em;
    padding: 1em;
    background-color: transparent;
    color: white;
    border: solid 2px rgb(75, 75, 75);
    outline: none;
    border-radius: 5px;
}
#emailInput{
    width: 100%;
}
@media screen and (max-width: 500px){
    #contact{
        display: flex;
        width: 100vw;
        height: 100vh;

        align-items: center;
        flex-direction: column;
        gap: 2em;
    }
    #email{
        display: flex;
        flex-direction: column;
        width: 20em;
        align-items: center;
        gap: 2em;
        border-radius: 30px;
        padding: 1em;
        border: none;
    }
    #text{
        flex-direction: column;
        width: 100%;
        gap: 2em;
        display: flex;
    }
}