#front{
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 1000px;
    width: 100vw;
}

.title{
    color: white;
    background-color: #1e2537;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    user-select:none;
    font-size: 1em;
    color: white;
    font-weight: 600;
}
.title h2{
    font-weight: 400;
    font-size: 1.4em;
    color: rgb(227, 227, 227);
}

.content{
    display: flex;
    flex-direction: column;
    padding: 1.2em;
    padding-top: 0;
    background-color: #1e2537;
    transition: all 0.2s linear;
    opacity: 1;
    visibility: visible;
}
.hide{
    visibility:hidden;
    height: 0;
    opacity: 0;
    transition: all 0.2s linear;
}

.sort{
    display: flex;
    background-color: #1e2537;
    border: 1px solid white;
    padding: 0.5em;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    height: 32.8px;
    user-select: none;
    transition: all 0.2s linear;
    font-size: 0.8em;
    font-family: 'Hepta Slab', Georgia, serif ;
  }

.sort:hover{
    background-color: white;
    color: #151821;
}
.sort:active{
    background-color: rgb(173, 173, 173);
}

.search{
    display: flex;
    display: flex;
    background-color: none;
    border: 1px solid white;
    padding: 0.5em;
    width: 100px;
}
.font{
    font-family: 'Hepta Slab', Georgia, serif ;
    font-weight: 100;
    font-size: 0.8em;
    transition: all 0.2s linear;

}
.font:hover{
    scale: 1.1 1.1 1;
}

.dropdown{
    display: block;
    position: absolute;
    background-color: #505662;
    border: 2px solid #6d737f;
    min-width: 150px;
    border-radius: 5px;
    z-index: 2;
    padding: 1em;
    margin-top: -250%;
  }

  .exit{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(247, 88, 88);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: -8px;
    margin-top: -8px;
  }
  .exit p{
    font-size: 9px;
    color:#560d0d;
    opacity: 0;
    user-select: none;
  }
  .exit:hover > p{
    opacity: 1;
  }