*{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: auto;
  margin-bottom: 185px;
  background-color: #151821;

}
#root{
  display: block;
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
}
div{
  display: flex;
}

nav{
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 4.5em;
  z-index: 1;
}
nav div.active {
  background-color: rgba(197, 197, 197, 0.113);
  backdrop-filter: blur(8px);
  transition: all .5s ease-in-out;

}
 nav ul{
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 1.4em 0 0 0;
}
nav div{
  gap: 1em;
  padding: .5em;
  padding: 10px 15px 10px 15px;
  border-radius: 32px;

}

nav li button{
  padding: 10px 15px 10px 15px;
  border-radius: 18px;
  background-color: transparent;
  cursor: pointer;
  color: white;
}



.container{
  display: flex;
}
#full{
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.text-box{
  display:block;
}

.background-button{
  position: absolute;
  height: 35.5px;
  width: 65.56px;
  z-index: -1;
  background-color: rgba(197, 197, 197, 0.239);;
  transition: all 0.24s ease;
}

.button-container{
  position: relative;
  display: flex;
  padding:0;
}